@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 8px !important;
}

body {
  font-family: "Poppins";
}

@media screen and (min-width: 768px) {
  html {
    font-size: 9px !important;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 10px !important;
  }
}
